@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 400ms;
}

.container__header  {
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

header .container_nav {
  position: relative;
  height: 100%;
}

header .container_nav nav {
  height: 100%;
}

header .container_nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container_nav li {
  margin: 0 20px;
  list-style: none;
}

header .container_nav li a {
  color: #000;
  text-decoration: none;
  transition: .4s ease-in-out;
}

header .container_nav li a:hover {
  opacity: 0.6;
}

header .container_nav li .select {
  color: #32CD32;
  opacity: 0.6;
  cursor: pointer;
}

header .btn__menu {
  display: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
}

header .btn__menu:hover {
  background: #f5f5f5;
}


/*class make in javascript*/

.menu_mod {
  height: 70px;
  box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.5);
  background: #ffffff;
}

.container__all {
  width: 100%;
  position: relative;
  right: 0;
  transition: all 400ms;
  margin-top: 100px;
}

.move_content {
  right: 180px;
}




/*Container Cover Estilos*/



.container__all .main {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.container__all .main .data h1 {
  color: #373737;
  text-decoration: none;
  font-size: 100;
  margin-bottom: 10px;
  font-size: 40px;
}

.container__all .main .data p {
  margin: 10px 0;
  font-size: 18px;
  color: #373737;
}

.container__all .main .data  {
  z-index: 2;
  max-width: 400px;
  position: relative;
  left: 0;
}

.container__all .main .data button {
  padding: 10px 60px;
  font-size: 18px;
  top: 20px;
  background: #00FA9A;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 400ms;
  box-shadow: 1px 1px 30px -5px #20202049;
}

.container__all .main .data button:hover {
  color: #fff;
  background: #000;
  box-shadow: 0 0 0 0;
}

.container__all .main img {
  max-width: 100%;
  transition: all 300ms;
}






/*Footer web*/

footer {
  width: 100%;
  margin-top: 80px;
  background: #f5f5f5;
  padding-top: 20px;
}

footer .container-footer {
  max-width: 1000px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap-reverse;
}

footer .container-footer .submenu {
  width: 180px;
  max-height: 200px;
  padding: 12px 0;
}

footer .container-footer .submenu ul {
  list-style: none;
  margin-left: 5px;
}

footer .container-footer .submenu p {
  margin-bottom: 10px;
  font-size: 18px;
}

footer .container-footer .submenu ul li {
  margin-bottom: 10px;
}

footer .container-footer .submenu ul a {
  color: #373737;
  cursor: pointer;
  text-decoration: none;
  transition: 300ms ease-in-out all;
}

footer .container-footer .submenu ul a:hover {
  color: #32CD32;
  margin-left: 10px;
}


/*CONTACT FORM FOOTER*/

footer .container-footer .contacto {
  width: 320px;
  height: 200px;
} 

footer .container-footer .submenu input {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  outline: none;
  padding: 6px 20px;
  background: none;
  margin-bottom: 10px;
  border: 1px solid #757575;
}

footer .container-footer .submenu button {
  width: 100%;
  padding: 4px 0;
  border: none;
  background: #00FA9A;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  transition: background 400ms;
  box-shadow: 1px 1px 30px -5px #20202049;
}

footer .container-footer .submenu button:hover {
  color: #fff;
  background: #000;
  box-shadow: 0 0 0 0;
}


/*END FOOTER STYLES CSS*/

footer .footer-end {
  margin-top: 20px;
  border-top: 1px solid #DCDCDC;
}

footer .endContent {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

footer .endContent a {
  color: #757575;
  margin-left: 10px;
}

footer .endContent a:hover {
  color: #32CD32;
  text-decoration: underline;
}














/*Responsive web*/

@media (max-width: 900px) {

  footer .container-footer .contacto {
    width: 100%;
  }

}

@media (max-width: 687px) {
  .container__all .main .img-header {
    display: none;
  }

  .container__all .main .data {
    margin-top: 50px;
  }
}

@media (max-width: 580px) { 
  
  header .container_nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .btn__menu {
    display: flex;
  }

  nav {
    height: 100%;
    background: #00fa9a36;
    position: fixed;
    top: 0;
    right: -180px;
    padding: 0 40px;
    transition: all 400ms;
  }

  .move_nav{
    right: 0px;
  }

  nav ul{
    flex-direction: column;
  }

  #nav ul li{
    margin: 20px 0px;
  }


} 


















